version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: usermanagement-backend
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080

  frontend:
    build:
      context: ./frontend
    container_name: usermanagement-frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend

  # если хочешь MSSQL
  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - "1533:1433"
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
