version: '3.8'
services:
  backend:
    build: .
    ports:
      - "5006:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
  frontend:
    build:
      context: ../frontend # путь к папке, где Dockerfile для фронта
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
      - db
  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - "1533:1433"
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
