jobs:
  build:
    runs-on: ubuntu-latest
    services:
      db:
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
          - 1433:1433
        env:
          SA_PASSWORD: "Your_password123"
          ACCEPT_EULA: "Y"

    steps:
      - name: Stop existing containers (cleanup)
        run: docker compose -f ./backend/docker-compose.yml down || true

      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Build frontend
        working-directory: ./frontend
        run: npm run build # если у тебя предусмотрен build-скрипт

      - name: Build & Run backend via Docker Compose
        run: docker compose -f ./backend/docker-compose.yml up -d

      - name: Wait for backend to start
        run: sleep 10

      - name: Restore test project dependencies
        run: dotnet restore tests/tests.csproj

      - name: Playwright Install Browsers
        run: npx playwright install

      - name: Build test project
        run: dotnet build tests/tests.csproj --no-restore
